h1 {
  color: red;
}

p { 
  color: blue;
  }
body {background-color: coral;}

p {
    text-decoration: underline;
    text-decoration-color: red;
}
p.a {
    font-family: "Times New Roman", Times, serif;
}

p.b {
    font-family: Arial, Helvetica, sans-serif;
}
div.a {
    font-size: 15px;
}

div.b {
    font-size: large;
}

div.c {
    font-size: 150%;
}
div.a {
    height: auto;
    border: 1px solid red;
}

div.b {
    height: 50px;
    border: 1px solid red; 
}
div.a {
    width: auto;
    border: 1px solid red;
}

div.b {
    width: 150px;
    border: 1px solid red; 
}

div.c {
    width: 50%;
    border: 1px solid red; 
}
a:link { 
    background-color: red;
}
